* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
}

.show {
    visibility: visible;
}

.reload {
    display: flex;
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 1.8vw;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.show .main-info {
    display: flex;
    width: 35%;
    height: 20%;
    border-radius: 40px;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 25px;
    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    background: rgba( 255, 255, 255, 0.35 );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.main-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    text-align: left;
    font-size: 1.3vw;
    line-height: 1.5;
}

.current-temp { 
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    padding: 5px;
}

.current-temp .degree {
    display: flex;
    position: relative;
    width: 90%;
    height: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    top: -15px;
}

.current-temp .degree p {
    display: flex;
    font-size: 1.4vw;
    top: 30%;
    width: fit-content;
    height: fit-content;
    margin-top: -40px;
    text-align: center;
}

.current-icon {
    display: flex;
    position: relative;
    width: 80%;
    right: 11%;
    margin: auto;
}

.current-icon img {
    position: relative;
    width: 80%;
    margin: auto;
    top: -15%;
}

.location-city {
    padding-top: 10px;
}

.show .temperature-container {
    display: flex;
    height: 40%;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 40px;
    position: relative;

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    background: rgba( 255, 255, 255, 0.35 );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.degree-section {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    width: 95%;
    height: 85%;
    position: relative; 
}

.degree-section .desc {
    display: flex;
    line-height: 1.5;
    font-size: 1.2vw;
    justify-content: center;
    padding-top: 5px;
}

.degree-section h2 {
    font-size: 3.5vw;
    position: relative;
    text-align: center;
}

.icon img {
    position: relative;
    width: 30%;
    right: 5%;
    top: 10%;
}

.show .temperature {
    display: flex;
    width: 40%;
    height: 80%;
    padding: 10px;
    border-right: 2px solid rgba( 255, 255, 255, 0.35 );
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.show .high-low {
    display: inline-flex;
    font-size: 1.2vw;
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
}

.show .date {
    font-size: 2vw;
}

.show .temp-five {
    border: none;
}

.popup {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    bottom: 10%;
    width: 35%;
    height: 40%;
    border-radius: 40px;
    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    background: rgba( 255, 255, 255, 0.35 );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.search-box {
    display: flex;
    width: 100%;
    height: 70%;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.search-box .search-input {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
    height: 35px;
    width: 200px;

    background: rgba( 255, 255, 255, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 40px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.search-box .search-input > input {
    display: flex;
    position: relative;
    width: 80%;
    height: 90%;
    font-size: 1.2vw;
    color: white;
    outline: transparent;
    border: unset;
    background-color: transparent;
}

.search-box .search-title {
    display: flex;
     justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 1.3vw;
}

input:focus {
    transition: 0.3s;
    border-color: transparent;
    border-bottom: 2px solid white;
    
    background: transparent;
    box-shadow: transparent;
    backdrop-filter: transparent;
    -webkit-backdrop-filter: transparent;
    border-radius: 0;
}

.search-box button {
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    position: relative;
    justify-content: baseline;
    align-content: center;
    width: fit-content;
    height: fit-content;
    font-weight: 100;
    font-size: 1.2vw;
    color: white;
}

@media only screen and (max-width: 900px ){
    
    .popup {
        width: 60%;
        height: 30%;
        z-index: 999;
    }

    .reload {
        font-size: 3vw;
    }

    .search-box .search-title {
        font-size: 3vw;
        width: 300px;
        height: fit-content;
        top: 30%;
    }

    .search-box .search-input  {
        width: 80%;
        height: 20%;
        font-size: 2vw;
    }
    
    .search-box button {
        font-size: 3vw;
    }

    .search-box .search-input input {
        font-size: 3vw;
    }

    .show .main-info {
        width: 60%;
        height: max-content;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
    }

    .main-desc {
        font-size: 2vw;
    }

    .current-temp {
        width: 40%;
        height: 70%;
        align-items: center;
    }

    .current-icon {
        display: flex;
        position: relative;
        min-width: 50px;
        width: 50%;
        height: 50%;
        max-height: 50px;
        margin: auto;
        top: -10%;
    }

    .current-temp .degree {
        display: flex;
        font-size: 8vw;
        top: 5px;
    }

    .current-temp .degree p {
        font-size: 4vw;
        margin-top: -15px;
    }

    .show .temperature-container {
        height: 60%;
        width: 70%;
    }

    .degree-section {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 20px;
        justify-content: space-evenly;
    }

    .show .temperature {
        display: flex;
        border-bottom: 2px solid rgba( 255, 255, 255, 0.35 );
        border-right: none;
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        padding-bottom: 20px;
    }

    .temperature .date {
        position: absolute;
        width: 20%;
        height: 40%;
        font-size: 3vw;
        justify-content: center;
        top: 50%;
        right: 75%;
    }

    .icon img {
        position: relative;
        width: 10%;
        right: 15%;
        top: -20%;
    }

    .show .temperature .degree {
        display: flex;
        position: absolute;
        font-size: 5vw;
        height: 50%;
        right: 56%;
        top: 45%;
        bottom: 10%;
    }

    .show .temperature .high-low {
        position: absolute;
        height: 40%;
        width: 40%;
        top: 55%;
        right: 10%;
        font-size: 2.5vw;
    }

    .show .temperature .desc {
        position: absolute;
        font-size: 3vw;
        width: 50%;
        height: 45%;
        right: 5%;
        top: 10%;
    }

    .show .temp-five {
        border-bottom: none;
    }

}